.zis110-animation {
  width: 40%;
  margin-left: 0.5vw;
  max-width: 36vw;
  transition: transform 1s ease-out, opacity 1s;
  opacity: 0;

  &-enter {
    transform: translateX(-40vw);
  }

  &-enter-done {
    opacity: 1;
    transform: translateX(0) translateY(3vh);
  }

  @media (max-width: 767px) {
    align-self: center;
    width: 80vw;
    max-width: 80vw;
    margin: 3vh 0 3.5vh 0;
  }
}