.screen3-gaz12-animation {
  width: 100%;
  margin-left: 1.3vw;
  max-width: 38vw;
  transition: transform 1s ease-out, opacity 1s;
  opacity: 0;
  align-items: flex-start;
  

  &-enter {
    transform: translateX(-40vw);
  }

  &-enter-done {
    opacity: 1;
    transform: translateX(0);
    // margin-left: -150px;
  }

  @media (max-width: 767px) {
    width: 70vw;
    max-width: 70vw;
    align-self: flex-start;
    // margin: 0 0 0 11vw;
  }
}