* {
  box-sizing: border-box !important;
}

.screen1 {

  &__wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-animation {
    height: 100%;
    display: flex;
    flex-basis: 96vh;
    align-items: flex-end;
    opacity: 1;
    transition: flex 0.8s, opacity 0.8s;
    animation-fill-mode: forwards;

    &-enter-active {
      transition: flex 0.4s ease-out;
      opacity: 1;
      flex-basis: 96vh;
    }
  }

  &-init-animation {
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-basis: 180vh;
    transition: flex 0.8s, opacity 0.8s;
    transition-delay: 0.5s;

    &-enter {
      opacity: 1;
      flex-basis: 96vh;
    }

  }

  &__cars {
    margin-bottom: -4vh;
  }

}

.first__aurus {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  &-front {
    transform: scale(2.2);
    object-position: -13vw 4.5vh;
    z-index: 10;
    transition: opacity 0.5s;
    width: 43%;

    @media (max-width: 767px) {
      transform: scale(2.7);
      object-position: -27vw 1.5vh;
      width: 100%;
    }
  }

  &-back {
    transform: scale(2.2);
    z-index: 11;
    object-position: 18vw 4.5vh;
    transition: opacity 0.5s;
    width: 43%;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

