.screen6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;


  &__mailForm {
    margin-top: 8vh !important;
    display: flex;
    flex-direction: column;
    z-index: 20;
    color: white;
    width: 100%;
    //@include breakpoint(mobile) {
    //  padding: 0 15px;
    //}
  }
  

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.MuiInput-underline:before {
  border-bottom: 0.06vh solid white !important;
}

#email-input {
  color: white;
  font-size: 0.9vw;
  opacity: 0.9 !important;
  padding-bottom: 1vh;

  @media (max-width: 767px) {
    font-size: 0.9rem;
  }
}

#email-input::placeholder {
  opacity: 1 !important;
}

.MuiInput-underline:after {
  border-bottom: 0.1vh solid white !important
}

.mailInput__icon {
  margin: 1vh 0.7vw !important;

  &__input {
    font-size: 1vw !important;

    @media (max-width: 767px) {
      font-size: 0.9rem;
    }
  }

  &-svg {
    max-width: 1vw;

    @media (max-width: 767px) {
      max-width: 0.9rem;
    }
  }

}

.sendMail__button {
  align-self: center;
  margin-top: 1.1vh !important;
  padding: 0.1vh 1vw 0.1vh 1vw !important;

  @media (max-width: 767px) {
    padding: 0.5vh 3vw 0.5vh 3vw !important;
  }
}

.zis101-animation {
  z-index: 20;
  width: 42vw;
  transform: scale(1.1);
  margin-left: 0.5vw;
  max-width: 36vw;
  transition: transform 1s ease-out, opacity 1s;
  opacity: 0;

  &-enter {
    transform: translateX(-40vw);
  }

  &-enter-done {
    opacity: 1;
    transform: translateX(0.8vw) translateY(-2vh);
  }

  @media (max-width: 767px) {
    display: none;
  }

}

.gaz13-animation {
  width: 49vw;
  z-index: 20;
  transition: transform 1s ease-out, opacity 1s;
  opacity: 0;
  transform: scale(1.2);

  &-enter {
    transform: translateX(40vw);
  }

  &-enter-done {
    opacity: 1;
    transform: translateX(11vw) translateY(-4vh);
  }

  @media (max-width: 767px) {
    width: 80vw;
  }
}