* {
  box-sizing: border-box !important;
}

.chaikaZis {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;

  @media (max-width: 767px) {
    height: 88%;
    justify-content: flex-end;
  }

  .screen2-chaika-animation {
    width: 49%;
    transition: transform 1s ease-out, opacity 1s;
    opacity: 0;

    @media (max-width: 767px) {
      width: 100%;
    }

    &-enter-active {
      transform: translateX(-40vw);
    }

    &-enter-done {
      opacity: 1;
      transform: translateX(-3vw);
      @media (max-width: 767px) {
        transform: translateX(7vw) translateY(-3vh);
      }
    }
  }

  .screen2-zis101-animation {
    width: 49%;
    transition: transform 1s ease-out, opacity 1s;
    opacity: 0;

    @media (max-width: 767px) {
      display: none;
    }

    &-enter {
      transform: translateX(40vw);
    }

    &-enter-done {
      opacity: 1;
      transform: translateX(3vw);
    }
  }
}