// .animation {
//     width: 49%;
//     transition: transform 1s ease-out, opacity 1s;
//     opacity: 0;
    
//     &-enter-active {
//         transform: translateX(-40vw);
//     }
//     &-enter-done {
//         opacity: 1;
//         transform: translateX(2vw);
//         @media (max-width: 767px) {
//             transform: translateX(7vw) translateY(-3vh);
//         }
//     }
// }

// .screen2-chaika-animation {
//     width: 35vw;
//     transition: transform 1s ease-out, opacity 1s;
//     opacity: 0;

//     @media (max-width: 767px) {
//         width: 71vw;
//         max-width: 76vw;
//     }

//     &-enter-active {
//         transform: translateX(-40vw);
//     }

//     &-enter-done {
//         opacity: 1;
//         transform: translateX(2vw);
//         @media (max-width: 767px) {
//         transform: translateX(7vw) translateY(-3vh);
//         }
//     }
// }

// .screen2-zis101-animation {
// width: 35vw;
// transition: transform 1s ease-out, opacity 1s;
// opacity: 0;

// @media (max-width: 767px) {
//     display: none;
// }

// &-enter {
//     transform: translateX(40vw);
// }

// &-enter-done {
//     opacity: 1;
//     transform: translateX(25vw);
// }
// }