.arrow {
  width: 100%;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  &-down {
    bottom: 1.6%;
  }
  &__png {
    max-height: 1.4vw;
  }
}