.fornote {

    width: 100vw;
    position: absolute;
    z-index: 150;
    left:0;
    bottom: 7vh;
    display: flex;
    justify-content: center;

    @include breakpoint(mobile) {
        bottom: 3vh;
        justify-content: flex-start;
    }
    

    &--content {
        color: white;
        text-align: center;

        &-small {
            width: 30vw;
            font-size: 12px;
            @include breakpoint(mobile) {
                width: 100%;
                text-align: left;
                padding: 0 15px;
            }
        }
        &-big {
            font-size: 18px;
        }

    }

}