@mixin breakpoint($point) {

    

    @if $point == mobile {
      @media screen and (max-width: 600px) { @content; }
    }

    @else if $point == mobile-small {
      @media screen and (max-height: 640px) { @content; }
    }

    @else if $point == tablet {
      @media screen and (max-width: 1020px) { @content; }
    }

    @else if $point == desktop {
      @media screen and (max-width: 1280px) { @content; }
    }

    @else if $point == 4k {
      @media screen and (min-width: 1280px) { @content; }
    }
  
  }