.position {
    position: absolute;
    width: 46vw;
    @include breakpoint(mobile) {
        width: 85vw;
    }
    @include breakpoint(4k) {
        width: 42vw;
    }

    &-smaller {
        width: 36vw;
    }
    
    &-small {
        width: 28vw;
    }

    &-lb {
        left:0;
        bottom:0;
    
    } 
    &-rb {
        right:0;
        bottom:0;
        &-resize {
            transform: scale(0.8);
        }
    } 
}