.screen {
    padding: 10vh 0 2vh 0;
    &-map {
        background-repeat: no-repeat;
        background-size: 90%;
    }
    @include breakpoint(mobile) {
        padding: 8vh 0 2vh 0;

        .arrow-up, .arrow-down {
            display: none;
        }
    }
} 