.text {
    color: white;
    font-size: 25px;
    font-family: ProximaNovaRegular, sans-serif;
    // line-height: 1.5;
    @include breakpoint(4k) {
        font-size: 23px;
        // color: green;
    }
    @include breakpoint(desktop) {
        font-size: 23px;
        // color: yellow;
    }
    @include breakpoint(tablet) {
        font-size: 23px;
        // color: red;
    }
    @include breakpoint(mobile) {
        font-size: 17px;
        padding-left: 6vw;
        // color: rgb(219, 87, 236);
    }
    @include breakpoint(mobile-small) {
        font-size: 14px;
    } 

    &-center {
        @include breakpoint(tablet) {
            text-align: center;
        }
    }
}