.title {

    color: white;
    font-family: ProximaNovaBold, sans-serif;

    &-small {
        padding: 35px 0;
        font-size: 80px;
        font-weight: bolder;
        @include breakpoint(mobile) {
            padding: 15vh 0 35px 0;
            font-size: 38px;
            font-weight: bolder;
            padding-left: 0%;
        } 
    }

    &-big {
        text-align: center;
        font-family: ProximaNovaBold, sans-serif;
        color: white;
        font-size: 13rem;
        position: relative;
        top: 9vh;
        @include breakpoint(mobile) {
            top: -20vh;
            font-size: 6rem;
        }
        @include breakpoint(mobile-small) {
            font-size: 5rem;
        }  
    }

    &-offset {
        padding-left: 21%;
        @include breakpoint(mobile) {
            padding-left: 0%;
        }   
    }

}