.menu-wrapper {
	position: absolute;	
	width: 242px;
	background-color: rgba(0, 0, 0, 0.85);
	right: -450px;
	opacity: 0;
	transition: all .3s ease-in-out;
	z-index: 0; 
  }
  
  .menu-open { 
	right: 0px;
	opacity: 1;
  }
  #menu {	
	max-height: 100vh;
	display: block; 
	position: inherit;
	left:0;
	margin-left: 0;
	top: 0px;
	right: inherit;
	z-index: 9999;
	width: 225px;
	opacity: inherit;
}

  
#menu ul {
	margin-bottom: 0;

	width: 225px;
	left: 0;
	/* background-color: white; */
}

#menu ul li {
	list-style-type: none;
	padding-top: 5px;

}
#menu ul li:hover {
	text-decoration: none;
	background-color: #4D4D4D;

}

#menu ul li a {
	width: 100vh;
	padding-left: 20px;
}

#menu ul li a:hover {
	text-decoration: none;
	background-color: #4D4D4D;
	color: white;
}
