@font-face {
  font-family: 'ProximaNovaBold';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ProximaNovaExCn-Bold.eot');
  src: local('Open Sans'), local('OpenSans'),
  url('../../assets/fonts/ProximaNovaExCn-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNovaExCn-Bold.woff') format('woff'),
  url('../../assets/fonts/ProximaNovaExCn-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ProximaNovaExCn-Bold.eot');
  src: local('Open Sans'), local('OpenSans'),
  url('../../assets/fonts/ProximaNovaExCn-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/ProximaNovaExCn-Regular.woff') format('woff'),
  url('../../assets/fonts/ProximaNovaExCn-Regular.ttf') format('truetype');
}

@media (max-width: 767px) {
  .header {
    height: 8vh !important;
  }

  .logo {
    margin-top: 0.7vh !important;

    &-first {
      max-height: 26vh !important;
    }
  }

  .logo-animation {
    width: 100% !important;
    justify-content: flex-start !important;

    img {
      margin-left: 3vw !important;
    }
  }

  .moscow9__about {
    display: none;
  }

}

body {
  font-family: 'ProximaNovaRegular', sans-serif;
}

.zero-opacity {
  opacity: 0 !important;
}

.full-opacity {
  opacity: 1 !important;
}

.App {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
}

.without-nav {
  height: 100%;
  transition: padding-top 1s;
}

.with-nav {
  height: 100%;
}


// ------------
@import "./css-modules/media-queries";
@import "./css-modules/header";
@import "./css-modules/title";
@import "./css-modules/screen";
@import "./css-modules/text";
@import "./css-modules/position";
@import "./css-modules/footnote";
@import "./css-modules/img";


