.screen {
  box-sizing: border-box !important;
}

.screen4-gaz2459-animation {
  width: 35vw;
  margin-left: 0.5vw;
  max-width: 46vw;
  transition: transform 1s ease-out, opacity 1s;
  opacity: 0;

  &-enter {
    transform: translateX(-40vw);
  }

  &-enter-done {
    opacity: 1;
    transform: translateX(0);
    align-self: flex-start;
  }

  @media (max-width: 450px) {
    width: 51vw;
    max-width: 56vw;
  }
}