.header {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: black;
  transition: height 1.2s;

  &-first {
    opacity: 0;
    position: absolute;
    z-index: 100;
    height: 0;
    width: 100%;
    top: 0;

    &-animation {
      // height: 6vh !important;
      animation: header-transform 1s;
      animation-fill-mode: forwards;
    }
  }
}

.logo {
  z-index: 10;
  position: absolute;
  transition: max-height 1.2s, margin-top 1.2s;
  margin: 0.3vh 0 0 1.3vw;
  max-height: 9.6vh;

  &-animation {
    display: flex;
    justify-content: flex-start;

    &-enter-active {
      animation-name: header;
      animation-duration: 0.8s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      @keyframes header {
        from {
          opacity: 0;
          margin-top: 96vh;
        }
        to {
          opacity: 1;
        }
      }
    }

    &-exit-done {
      opacity: 1;
    }

    &-first {
      width: 100%;
      display: flex;
      justify-content: center;
    }

  }

  &-first {
    z-index: 100;
    position: absolute;
    transition: max-height 1.2s, margin-top 1.2s;
    margin-top: 5vh;
    max-height: 19vh;
    cursor: default !important;
  }
}

.logo:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  @keyframes header-transform {
    0% {
      opacity: 0;
      height: 24vh;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      height: 6vh;
    }
  }
}

@media (max-width: 767px) {
  @keyframes header-transform {
    0% {
      opacity: 0;
      height: 24vh;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      height: 8vh;
    }
  }
}

.bm-burger-button {
  position: fixed;
  display: none;
  transition: opacity 1s;
  width: 36px;
  height: 19px;
  top: 2.68vh;
  right: 3vw;

  @media (max-width: 767px) {
    display: block;
  }
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: white;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu {
  z-index: 10;
  background: black;
  width: 65vw;
  margin-left: auto;
  a {
    color: #b8b7ad;

    &:hover,
    &:focus {
      color: #c94e50;
    }
  }
}

.bm-item-list a {
  padding: 0.8em;

  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

.bm-item:focus {
  outline: none;
}

.bm-menu-wrap {
  z-index: 10 !important;
}

.menu-items {
  width: 100%;
  display: flex;
  color: white;
  z-index: 99;
  margin: 0 25px 0 75px;
  @media (max-width: 767px) {
    display: none;
  }
}

.menu-items > div {
  margin: 0 10px;

}

.menu-items > div:hover {
  cursor: pointer;
}

.menu-item-right {
  margin-left: auto !important;
}

.expandable-listview_outerDiv {
  height: 400px;
  overflow-y: auto;
  outline: 1px dashed blue;
  width: 400px;
}

.expandable-listview_ul {
  margin: 0px;
  list-style-type: none;
  padding: 0;
}

.expandable-listview_fixedPosition {
  position : fixed;
  width : 383px;
  top: 0px;
}

.expandable-listview_listHeader {
  height: 20px;
  background: orange;
  color: white;
}

.expandable-listview_listItems {
  color: blue;
}

.hamburger-menu-padding {
  padding-top: 38px;
}